@model IEnumerable<Equinox.Models.ClassCategory>

@{
    ViewData["Title"] = "Manage Class Categories";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Image</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClassCategoryId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClassCategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
